[Unit]
Description=Yajudge master instance service
Requires=postgresql.service yajudge-envoy@%i.service

[Service]
Type=exec
RuntimeDirectory=yajudge
ConfigurationDirectory=yajudge
LogsDirectory=yajudge
StateDirectory=yajudge
RuntimeDirectoryMode=0770
StateDirectoryMode=0770
LogsDirectoryMode=0770

ExecStart=/usr/bin/yajudge-master -C /etc/yajudge/master-%i.yaml -P /run/yajudge/master-%i.pid -L /var/log/yajudge/master-%i.log daemon
ExecStopPost=/bin/rm -f /run/yajudge/master-%i.pid
PIDFile=/run/yajudge/master-%i.pid

MemoryAccounting=yes
MemoryMax=1G

TasksAccounting=yes
TasksMax=100

User=yajudge
Group=yajudge
Slice=yajudge.slice

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
