[Unit]
Description=Envoy instance service for Yajudge

[Service]
Type=exec
LogsDirectory=yajudge
RuntimeDirectory=yajudge
RuntimeDirectoryMode=0770
LogsDirectoryMode=0770
ExecStart=bash -c '/usr/bin/envoy --config-path /etc/yajudge/envoy-%i.yaml --log-path /var/log/yajudge/envoy-%i.log | tee'
ExecStopPost=/bin/rm -f /run/yajudge/envoy-%i.pid
PIDFile=/run/yajudge/envoy-%i.pid

User=yajudge
Group=yajudge
Slice=yajudge.slice

Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
