[Unit]
Description=Yajudge grader instance service
Requires=yajudge-grader-prepare.service

[Service]
Type=exec

User=@YAJUDGE_USER
Group=@YAJUDGE_USER
Slice=yajudge-grader.slice
Delegate=yes

ExecStartPre=bash -c 'mkdir -p @LOGS_DIRECTORY @RUNTIME_DIRECTORY @CACHE_DIRECTORY @WORK_DIR && chown @YAJUDGE_USER:@YAJUDGE_USER @LOGS_DIRECTORY @RUNTIME_DIRECTORY @CACHE_DIRECTORY @WORK_DIR && chmod 0770 @LOGS_DIRECTORY @RUNTIME_DIRECTORY @CACHE_DIRECTORY @WORK_DIR'
ExecStart=@BIN_DIR/yajudge-grader -N %i -C @CONFIGURATION_DIRECTORY/grader-%i.yaml -P @RUNTIME_DIRECTORY/grader-%i.pid -L @LOGS_DIRECTORY/grader-%i.log daemon
ExecStopPost=/bin/rm -f @RUNTIME_DIRECTORY/grader-%i.pid
PIDFile=@RUNTIME_DIRECTORY/grader-%i.pid

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
