[Unit]
Description=Yajudge grader service

[Service]
Type=exec
RuntimeDirectory=yajudge
ConfigurationDirectory=yajudge
LogsDirectory=yajudge
StateDirectory=yajudge
CacheDirectory=yajudge
RuntimeDirectoryMode=0770
CacheDirectoryMode=0770
StateDirectoryMode=0770
LogsDirectoryMode=0770

ExecStart=/usr/bin/yajudge-grader -C /etc/yajudge/grader.yaml -P /run/yajudge/grader.pid -L /var/log/yajudge/grader.log daemon
ExecStopPost=/bin/rm -f /run/yajudge/grader.pid
PIDFile=$RUNTIME_DIRECTORY/grader.pid

# important to allow creating cgroup subdiroctories for submissions
Delegate=yes

MemoryAccounting=yes
MemoryMax=4G

TasksAccounting=yes
TasksMax=3000

User=yajudge
Group=yajudge

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
