[Unit]
Description=Prepare yajudge grader slice

[Service]
Type=exec
Slice=yajudge.slice
RemainAfterExit=true
ExecStart=bash -c "if [ ! -d /sys/fs/cgroup/yajudge.slice/yajudge-grader.slice ]; then mkdir -p /sys/fs/cgroup/yajudge.slice/yajudge-grader.slice; fi; /bin/chown -R @YAJUDGE_USER:@YAJUDGE_USER /sys/fs/cgroup/yajudge.slice/yajudge-grader.slice"
