[Unit]
Description=Yet Another Judge Services Root Supervisor

# Variables to be replaced in this template file:
#    (at)YAJUDGE_HOME  - full path to Yajudge installation [like /opt/yajudge-linux-x86_64]
#    (at)YAJUDGE_USER  - user name to run these services [yajudge]
#    (at)YAJUDGE_GROUP - group name to run these services [yajudge]

[Service]
Type=exec
# ExecStartPre ensures that here are directories for logging, PID anf cgroup exists and will be writable by Yajudge
ExecStartPre=+@YAJUDGE_HOME/bin/yajudge-ensure-directories -U @YAJUDGE_USER -G @YAJUDGE_GROUP
ExecStart=@YAJUDGE_HOME/bin/yajudge-server
ExecStopPost=/bin/rm -f @YAJUDGE_HOME/pid/supervisor.pid
PIDFile=@YAJUDGE_HOME/pid/supervisor.pid

# Allow web server to bind TCP ports
AmbientCapabilities=CAP_NET_BIND_SERVICE

MemoryAccounting=yes
TasksAccounting=yes

User=@YAJUDGE_USER
Group=@YAJUDGE_GROUP
Slice=yajudge.slice
Delegate=yes

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
